<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="d-flex align-content-end flex-wrap">
        <% for(let i=0; i<rows.length; i++) { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= rows[i].urlImage %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p><%= numberFormat(rows[i].price) %></p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Order
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Quantity</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/order/<%= rows[i].type %>/<%= rows[i].id %>" method="POST">
                                    <div class="modal-body">
                                        <input type="number" name="quantity" min="1" step="1" required>
                                        <button type="submit">Order Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <% if(pageStart < test && pageStart > 1) { %>
    <a href="/menu/<%= type %>?page=<%= pageStart-1 %>">
        <<</a> <% } %> <% if(pageStart < test) { %> <% for(let i=pageStart; i<test+1; i++) { %> <a
            href="/menu/<%= type %>?page=<%= i %>"><%= i %>
    </a>
    <% } %>
    <% }else if(pageStart === test) { %>
    <a href="/menu/<%= type %>?page=<%= pageStart-1 %>">
        <<</a> <a href="/menu/<%= type %>?page=<%= pageStart %>"><%= pageStart %>
    </a>
    <% } %>
    <% if(pageStart < test) { %>
    <a href="/menu/<%= type %>?page=<%=pageStart + 1 %>">>></a>
    <% } %>
</body>

</html>